<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TwitchToSpotify Application</title>
        <link rel="stylesheet" href="css/run.css" />
    </head>

    <body>
        <header id="header">
                <h1 id="welcome_msg">TwitchToSpotify application</h1>
        </header>

        <section id="channels">
            <form class="channelSetup">
                <input type="text" name="channelSetup" value="" placeholder="Name of your channel twitch" required id="channelSetupInput">
                <button type="button" name="channelSetup" id="channelSetupButton">Add channel</button>
            </form>
            <ul id="channelList"></ul>
        </section>

        <section id="updateView">
            <section id="twitch_request">
                <header><h3>Liste des requetes Twitch:</h3></header>
            </section>
            <section id="spotify_playlist">
                <header><h3>Playlist Spotify:</h3></header>
                <iframe src="https://open.spotify.com/embed/playlist/<%= playlist_id %>" width="100%" height="600px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </section>
        </section>
        <section>
            <div id="showData">

            </div>
        </section>


    </body>
    <!-- Add io library for exchange with node server -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/channels.js"></script>

</html>
