<!doctype html>
<html lang="en">
    <head>
        <title>TwitchToSpotify Application</title>
        <link rel="stylesheet" href="css/index.css" />
    </head>

    <body>
        <header id="header">
                <h1 id="welcome_msg">Welcome to TwitchToSpotify application</h1>
        </header>
        <section id="main">

            <header id="explain_msg">
            <p>Oh oh ! Something was wrong !</p>
            </header>

            <section id="buttons">
                <button id="spotify_button" class="login_button" type="button">Connect to Spotify</button>
                <button id="twitch_button" class="login_button" type="button">Connect to Twitch</button>
            </section>

            <section id="search">
                Search music on Spotify:
                <input type="text" name="spotify_search" id="spotifySearchTxt">
                <button id="spotify_search">Search</button>
            </section>
        </section>

    </body>
    <script src="js/twitchSpotifyButtons.js"></script>
</html>
