<!doctype html>
<html lang="en">
    <head>
        <title>TwitchToSpotify Application</title>
        <link rel="stylesheet" href="css/index.css" />
    </head>

    <body>
        <section id="app">
            <header id="header">
                    <h1 id="welcome_msg">Welcome to TwitchToSpotify app !</h1>
            </header>
            <section id="main">

                <header id="explain_msg">
                <p><%= text %></p>
                </header>

                <section id="buttons">
                    <button id="spotify_button" class="login_button" type="button" >Connect to Spotify</button>
                </section>
            </section>
        </section>

    </body>
    <script src="js/spotify.js"></script>
</html>
