@import url('https://fonts.googleapis.com/css?family=Caveat|Indie+Flower&display=swap');

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
}

h3{
    font-size: 1em;
    font-weight: 100;
    font-family: 'Indie Flower', cursive;
}

.trackUri:hover {
    cursor: pointer;
}

/*--------------------------------------*/

#app{
    margin: auto;
    margin-top: 35vh;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #cecece;
    box-shadow: 1px -1px rgb(201, 217, 206);
    background-color: white;
}

#header{
}

#header > h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
}

#main{
    margin: auto;
    padding: 1em;
    align-items: center;
}



#buttons{
    display: flex;
    flex-direction: column;
}


/* Generic buttons style */
.login_button{
    transition-duration: .13s;
    margin: auto;
    width: 100%;
    margin: 0px auto 10px;
    padding: .2em;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border: none;
}



#spotify_button{
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    background-color: #1AA34A;
}

#spotify_button:hover{
    background-color: #01812E;
    cursor: pointer;
}

#twitch_button{
    background-color: #9147FF;
    cursor: pointer;
}

#twitch_button:hover{
    background-color: #812DFF;
}

/* -------------------------------------------- */

form{
    padding-top: 10px;
    text-align: center;
}

/* -------------------------------------------- */

#updateView {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#twitch_request, #spotify_playlist {
    width: 50%;
}

/* -------------------------------------------- */
