@import url('https://fonts.googleapis.com/css?family=Caveat|Indie+Flower&display=swap');

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0 2vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #3C3C3C;
    color: #C2C1C1;
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
}

h3{
    font-size: 1em;
    font-weight: 100;
    font-family: 'Indie Flower', cursive;
}

.trackUri:hover {
    cursor: pointer;
}

/*--------------------------------------*/

#header{
    width: 100vw;
}

#header > h1 {
    margin-top: 1vw;
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
}

/*--------------------------------------*/

#channels{
    width: 100vw;
}

#channels > form{

}

#channels button{
    transition-duration: .13s;
    margin: 0px auto 10px;
    padding: .3em .9em;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#channels > form > #channelSetupButton{
    background-color: #9147FF;
}

#channels > form > #channelSetupButton:hover{
    background-color: #812DFF;
}

#channels #channelDisconnect{
    background-color: #C62222;
}

#channels #channelDisconnect:hover{
    background-color: #C40000;
}

#channels > form > input{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: .3em .9em;
    border: none;
    width: 250px;
}

/* -------------------------------------------- */

#channels > #channelList {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#channels > #channelList > li{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;
    min-width: 250px;
}

#channels > #channelList > li > p{
    margin: 0;
    width: 282px;
}

#channels > #channelList > li > button{
    margin: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: .3em .9em;
    border: none;
    height: 1.5em;
}



/* -------------------------------------------- */

iframe{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* -------------------------------------------- */

#updateView {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* -------------------------------------------- */

#twitch_request, #spotify_playlist{
    width: 50%;
}
